@charset "UTF-8";
html {
  height: 100%;
  font-size: 8px; }
  @media screen and (min-width: 768px) {
    html {
      font-size: 10px; } }
  html body {
    height: 100%;
    font-family: Helvetica, sans-serif, "Microsoft YaHei", "微软雅黑", "KaiTi", "楷体", "SimHei", "黑体"; }

#fullpage {
  overflow-x: hidden;
  height: 100%;
  padding: 0px; }
  #fullpage .section.home {
    color: #617be5;
    background-color: #f7f5f9;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem; }
    @media only screen and (max-width: 767px) {
      #fullpage .section.home {
        padding-top: 2rem;
        padding-bottom: 2rem; } }
    #fullpage .section.home .section-header {
      text-align: center;
      line-height: 8rem;
      margin: 0;
      font-size: 4rem; }
      @media only screen and (max-width: 767px) {
        #fullpage .section.home .section-header {
          padding-top: 0;
          font-size: 3rem;
          line-height: 5rem; } }
    #fullpage .section.home .contact_us_btn {
      background-color: #69d3c2;
      color: #f7f5f9;
      text-decoration: none;
      background-color: #69d3c2;
      margin-top: 1rem; }
    #fullpage .section.home .slogan {
      color: #4e5983;
      text-align: center;
      padding-top: 15rem;
      margin: 0; }
      #fullpage .section.home .slogan .cycleSlogan, #fullpage .section.home .slogan .typed-cursor {
        color: #00b8cd;
        line-height: 6rem; }
  #fullpage .section.features-mobile {
    color: #f7f5f9;
    background-color: #526add;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem; }
    @media only screen and (max-width: 767px) {
      #fullpage .section.features-mobile {
        padding-top: 2rem;
        padding-bottom: 2rem; } }
    #fullpage .section.features-mobile .section-header {
      text-align: center;
      line-height: 8rem;
      margin: 0;
      font-size: 4rem; }
      @media only screen and (max-width: 767px) {
        #fullpage .section.features-mobile .section-header {
          padding-top: 0;
          font-size: 3rem;
          line-height: 5rem; } }
    #fullpage .section.features-mobile .feature {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-left: 2px;
      margin-right: 2px;
      background-color: #526add;
      color: #f7f5f9;
      border-radius: 10px;
      margin-bottom: 2px;
      line-height: 8rem; }
      #fullpage .section.features-mobile .feature .icons {
        margin-left: 5px;
        width: 8rem; }
  #fullpage .section.features {
    color: #f7f5f9;
    background-color: #526add;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem; }
    @media only screen and (max-width: 767px) {
      #fullpage .section.features {
        padding-top: 2rem;
        padding-bottom: 2rem; } }
    #fullpage .section.features .section-header {
      text-align: center;
      line-height: 8rem;
      margin: 0;
      font-size: 4rem; }
      @media only screen and (max-width: 767px) {
        #fullpage .section.features .section-header {
          padding-top: 0;
          font-size: 3rem;
          line-height: 5rem; } }
    #fullpage .section.features .feature {
      height: 60rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      text-align: center;
      color: #f7f5f9;
      background-color: #69d3c2;
      border-radius: 10px; }
      #fullpage .section.features .feature .icons {
        width: 128px;
        height: 128px;
        margin: auto; }
      #fullpage .section.features .feature .feature-title {
        font-size: 4rem; }
      #fullpage .section.features .feature .feature-desc {
        padding: 0px 2rem;
        font-size: 1.5rem; }
      #fullpage .section.features .feature .feature-img-video {
        position: absolute;
        bottom: 5rem;
        left: 0;
        right: 0; }
        #fullpage .section.features .feature .feature-img-video .feature-img-video-content {
          width: 20rem;
          height: 20rem; }
      #fullpage .section.features .feature .advantages {
        list-style-type: disc;
        padding-left: 30%;
        text-align: left; }
  #fullpage .section.plans-mobile {
    color: #617be5;
    background-color: #f7f5f9;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem; }
    @media only screen and (max-width: 767px) {
      #fullpage .section.plans-mobile {
        padding-top: 2rem;
        padding-bottom: 2rem; } }
    #fullpage .section.plans-mobile .section-header {
      text-align: center;
      line-height: 8rem;
      margin: 0;
      font-size: 4rem; }
      @media only screen and (max-width: 767px) {
        #fullpage .section.plans-mobile .section-header {
          padding-top: 0;
          font-size: 3rem;
          line-height: 5rem; } }
    #fullpage .section.plans-mobile .plan-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 2px;
      margin-right: 2px;
      background-color: #526add;
      color: #f7f5f9;
      border-radius: 10px;
      margin-bottom: 2px;
      line-height: 8rem; }
      #fullpage .section.plans-mobile .plan-wrapper .icons {
        margin-left: 5px;
        width: 8rem; }
      #fullpage .section.plans-mobile .plan-wrapper .claim .claimamount {
        font-size: 3rem;
        color: #FFD700; }
      #fullpage .section.plans-mobile .plan-wrapper .price {
        background-color: #69d3c2;
        border-radius: 0 10px 10px 0;
        padding-left: 5px;
        padding-right: 5px; }
        #fullpage .section.plans-mobile .plan-wrapper .price .category {
          position: absolute;
          top: 0; }
        #fullpage .section.plans-mobile .plan-wrapper .price .priceamount {
          color: #FFD700;
          font-size: 3rem; }
  #fullpage .section.plans {
    color: #617be5;
    background-color: #f7f5f9;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem; }
    @media only screen and (max-width: 767px) {
      #fullpage .section.plans {
        padding-top: 2rem;
        padding-bottom: 2rem; } }
    #fullpage .section.plans .section-header {
      text-align: center;
      line-height: 8rem;
      margin: 0;
      font-size: 4rem; }
      @media only screen and (max-width: 767px) {
        #fullpage .section.plans .section-header {
          padding-top: 0;
          font-size: 3rem;
          line-height: 5rem; } }
    #fullpage .section.plans .plan-wrapper {
      text-align: center; }
      #fullpage .section.plans .plan-wrapper .icons {
        width: 128px;
        height: 128px;
        margin: auto; }
      #fullpage .section.plans .plan-wrapper .plan {
        color: #f7f5f9;
        background-color: #526add;
        border-radius: 10px;
        padding-top: 2rem;
        padding-bottom: 2rem; }
        #fullpage .section.plans .plan-wrapper .plan.golden .category {
          color: #FFD700; }
        #fullpage .section.plans .plan-wrapper .plan .category {
          font-size: 3rem; }
        #fullpage .section.plans .plan-wrapper .plan .price {
          color: #FFD700;
          font-size: 4rem;
          padding-top: 2rem;
          margin-bottom: 0; }
          #fullpage .section.plans .plan-wrapper .plan .price .currency {
            color: #f7f5f9;
            font-size: 2rem; }
        #fullpage .section.plans .plan-wrapper .plan .claim {
          font-size: 2rem; }
          #fullpage .section.plans .plan-wrapper .plan .claim .claimamount {
            font-size: 4rem;
            color: #FFD700; }
        #fullpage .section.plans .plan-wrapper .plan .desc-items {
          padding: 0px;
          list-style: none;
          font-size: 2rem; }
  #fullpage .section.process {
    color: #617be5;
    background-color: #f7f5f9;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-top: 0; }
    @media only screen and (max-width: 767px) {
      #fullpage .section.process {
        padding-top: 2rem;
        padding-bottom: 2rem; } }
    #fullpage .section.process .section-header {
      text-align: center;
      line-height: 8rem;
      margin: 0;
      font-size: 4rem; }
      @media only screen and (max-width: 767px) {
        #fullpage .section.process .section-header {
          padding-top: 0;
          font-size: 3rem;
          line-height: 5rem; } }
    #fullpage .section.process .processWrapper {
      display: flex;
      align-items: center; }
      #fullpage .section.process .processWrapper .step {
        position: relative;
        flex-grow: 3;
        text-align: center; }
        #fullpage .section.process .processWrapper .step .desc {
          font-size: 2rem; }
      #fullpage .section.process .processWrapper .tonext {
        flex-grow: 1; }
      #fullpage .section.process .processWrapper .icons {
        width: 128px;
        height: 128px;
        margin: auto; }
        @media only screen and (max-width: 767px) {
          #fullpage .section.process .processWrapper .icons {
            width: 64px;
            height: 64px; } }
        #fullpage .section.process .processWrapper .icons.nextstep {
          width: 50px;
          height: 50px; }
          @media only screen and (max-width: 767px) {
            #fullpage .section.process .processWrapper .icons.nextstep {
              width: 20px;
              height: 20px; } }
  #fullpage .section.application {
    color: #617be5;
    background-color: #f7f5f9;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-top: 0; }
    @media only screen and (max-width: 767px) {
      #fullpage .section.application {
        padding-top: 2rem;
        padding-bottom: 2rem; } }
    #fullpage .section.application .section-header {
      text-align: center;
      line-height: 8rem;
      margin: 0;
      font-size: 4rem; }
      @media only screen and (max-width: 767px) {
        #fullpage .section.application .section-header {
          padding-top: 0;
          font-size: 3rem;
          line-height: 5rem; } }
    #fullpage .section.application .submit-application {
      background-color: #69d3c2;
      color: #f7f5f9;
      text-decoration: none;
      width: 100%;
      background-color: #FF5000; }
  #fullpage .section.curr-month-data {
    color: #f7f5f9;
    background-color: #69d3c2;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem; }
    @media only screen and (max-width: 767px) {
      #fullpage .section.curr-month-data {
        padding-top: 2rem;
        padding-bottom: 2rem; } }
    #fullpage .section.curr-month-data .section-header {
      text-align: center;
      line-height: 8rem;
      margin: 0;
      font-size: 4rem; }
      @media only screen and (max-width: 767px) {
        #fullpage .section.curr-month-data .section-header {
          padding-top: 0;
          font-size: 3rem;
          line-height: 5rem; } }
    #fullpage .section.curr-month-data .gzh-shaidan-link {
      font-size: 2rem;
      text-decoration: underline; }
    #fullpage .section.curr-month-data .shaidan {
      font-size: 0; }
      #fullpage .section.curr-month-data .shaidan .bidno {
        font-size: 1.2rem;
        padding-top: 4px;
        padding-bottom: 4px;
        color: black;
        background-color: #f7f5f9;
        display: inline-block;
        box-shadow: 1px 0 0 0 black, 0 1px 0 0 black, 1px 1px 0 0 black, 1px 0 0 0 black inset, 0 1px 0 0 black inset;
        width: 10%; }
        @media only screen and (max-width: 767px) {
          #fullpage .section.curr-month-data .shaidan .bidno {
            width: 12.5%;
            padding-top: 0px;
            padding-bottom: 0px; } }
    #fullpage .section.curr-month-data .advance-notes {
      margin: 0;
      font-size: 3rem; }
  #fullpage .section.prev-month-data {
    color: #f7f5f9;
    background-color: #526add;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem; }
    @media only screen and (max-width: 767px) {
      #fullpage .section.prev-month-data {
        padding-top: 2rem;
        padding-bottom: 2rem; } }
    #fullpage .section.prev-month-data .section-header {
      text-align: center;
      line-height: 8rem;
      margin: 0;
      font-size: 4rem; }
      @media only screen and (max-width: 767px) {
        #fullpage .section.prev-month-data .section-header {
          padding-top: 0;
          font-size: 3rem;
          line-height: 5rem; } }
    #fullpage .section.prev-month-data .gzh-shaidan-link {
      color: #FFD700;
      font-size: 2rem;
      text-decoration: underline; }
    #fullpage .section.prev-month-data .shaidan {
      font-size: 0; }
      #fullpage .section.prev-month-data .shaidan .bidno {
        font-size: 1.2rem;
        padding-top: 4px;
        padding-bottom: 4px;
        display: inline-block;
        box-shadow: 1px 0 0 0 #f7f5f9, 0 1px 0 0 #f7f5f9, 1px 1px 0 0 #f7f5f9, 1px 0 0 0 #f7f5f9 inset, 0 1px 0 0 #f7f5f9 inset;
        width: 10%; }
        @media only screen and (max-width: 767px) {
          #fullpage .section.prev-month-data .shaidan .bidno {
            width: 12.5%;
            padding-top: 0px;
            padding-bottom: 0px; } }
      #fullpage .section.prev-month-data .shaidan .zhongbiao {
        background-color: #FF5000; }
      #fullpage .section.prev-month-data .shaidan .zhongbiao-highlight {
        box-shadow: inset 0px 0px 0px 4px yellow; }
        @media only screen and (max-width: 767px) {
          #fullpage .section.prev-month-data .shaidan .zhongbiao-highlight {
            box-shadow: inset 0px 0px 0px 2px yellow; } }
      #fullpage .section.prev-month-data .shaidan .chedan {
        background-color: grey; }
    #fullpage .section.prev-month-data .shaidan-shuoming {
      color: #f7f5f9;
      font-size: 2rem; }
      #fullpage .section.prev-month-data .shaidan-shuoming .zhongbiao-percen {
        font-size: 3rem; }
      #fullpage .section.prev-month-data .shaidan-shuoming .zhongbiao {
        padding-left: 4rem;
        background-color: #FF5000; }
      #fullpage .section.prev-month-data .shaidan-shuoming .zhongbiao-highlight {
        margin-left: 1.5rem;
        padding-left: 4rem;
        box-shadow: inset 0px 0px 0px 4px yellow; }
        @media only screen and (max-width: 767px) {
          #fullpage .section.prev-month-data .shaidan-shuoming .zhongbiao-highlight {
            box-shadow: inset 0px 0px 0px 2px yellow; } }
      #fullpage .section.prev-month-data .shaidan-shuoming .chedan {
        margin-left: 1.5rem;
        padding-left: 4rem;
        background-color: grey; }
      #fullpage .section.prev-month-data .shaidan-shuoming .description {
        font-size: 1.5rem; }
    #fullpage .section.prev-month-data .zhongbiao-jietu .zhongbiao-jietu-shuoming {
      text-align: center; }
      #fullpage .section.prev-month-data .zhongbiao-jietu .zhongbiao-jietu-shuoming .postBid {
        color: #FFD700;
        font-size: 3rem; }
    #fullpage .section.prev-month-data .zhongbiao-jietu .swiper-container {
      width: 100%;
      overflow: visible; }
    #fullpage .section.prev-month-data .zhongbiao-jietu .swiper-slide {
      background-position: center;
      background-size: cover;
      width: auto; }
      @media only screen and (max-width: 767px) {
        #fullpage .section.prev-month-data .zhongbiao-jietu .swiper-slide {
          width: 30rem !important; } }
      #fullpage .section.prev-month-data .zhongbiao-jietu .swiper-slide.swiper-slide-active.zhongbiao-highlight {
        outline: 4px solid yellow; }
  #fullpage .section.history {
    color: #f7f5f9;
    background-color: #69d3c2;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem; }
    @media only screen and (max-width: 767px) {
      #fullpage .section.history {
        padding-top: 2rem;
        padding-bottom: 2rem; } }
    #fullpage .section.history .section-header {
      text-align: center;
      line-height: 8rem;
      margin: 0;
      font-size: 4rem; }
      @media only screen and (max-width: 767px) {
        #fullpage .section.history .section-header {
          padding-top: 0;
          font-size: 3rem;
          line-height: 5rem; } }
    #fullpage .section.history .historyshow {
      color: black;
      border-radius: 10px;
      font-size: 2rem;
      background-color: #f7f5f9;
      text-align: center; }
      @media only screen and (max-width: 767px) {
        #fullpage .section.history .historyshow {
          border-radius: 0; } }
      #fullpage .section.history .historyshow th {
        text-align: center; }
    #fullpage .section.history .history-comment {
      text-align: center;
      color: #f7f5f9;
      font-size: 2rem; }
      @media only screen and (max-width: 767px) {
        #fullpage .section.history .history-comment {
          font-size: 1.5rem; } }
  #fullpage .section.contact_us {
    color: #617be5;
    background-color: #f7f5f9;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem; }
    @media only screen and (max-width: 767px) {
      #fullpage .section.contact_us {
        padding-top: 2rem;
        padding-bottom: 2rem; } }
    #fullpage .section.contact_us .section-header {
      text-align: center;
      line-height: 8rem;
      margin: 0;
      font-size: 4rem; }
      @media only screen and (max-width: 767px) {
        #fullpage .section.contact_us .section-header {
          padding-top: 0;
          font-size: 3rem;
          line-height: 5rem; } }
    #fullpage .section.contact_us table.quick_link {
      margin: 0 auto;
      text-align: center; }
      #fullpage .section.contact_us table.quick_link p {
        margin: 0px;
        padding-top: 1rem;
        padding-bottom: 0.5rem; }
      #fullpage .section.contact_us table.quick_link td {
        padding: 5px; }
    #fullpage .section.contact_us table.contact_info {
      padding: 1rem !important;
      margin: 0 auto; }
      #fullpage .section.contact_us table.contact_info td.info_value {
        color: #f7f5f9 !important;
        padding-left: 5px; }
    #fullpage .section.contact_us .phone a {
      background-color: #69d3c2;
      color: #f7f5f9;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: #69d3c2; }
    #fullpage .section.contact_us .taobao a {
      background-color: #69d3c2;
      color: #f7f5f9;
      text-decoration: none;
      background-color: #FF5000; }
    #fullpage .section.contact_us .gzh img {
      width: 12rem;
      height: 12rem; }
    #fullpage .section.contact_us .wxh img {
      widtH: 12rem;
      height: 12rem; }
  #fullpage .section footer {
    color: #617be5;
    text-align: center;
    background-color: #f7f5f9; }

/*********************************************************************************
Icons
 **********************************************************************************/
/* Generated by http://responsive-css.spritegen.com Responsive CSS Sprite Generator */
.icons.balance, .icons.magic, .icons.saving, .icons.showbids, .icons.software,
.icons.super, .icons.vip, .icons.chooseset, .icons.contract, .icons.nextstep,
.icons.payment {
  max-width: 100%;
  background-size: 100%;
  background-image: url("images/icons.png"); }

.icons.balance {
  background-position: 0 0%;
  background-size: 100%; }

.icons.magic {
  background-position: 0 10.958904%;
  background-size: 100%; }

.icons.saving {
  background-position: 0 21.917808%;
  background-size: 100%; }

.icons.showbids {
  background-position: 0 32.876712%;
  background-size: 100%; }

.icons.software {
  background-position: 0 43.835616%;
  background-size: 100%; }

.icons.super {
  background-position: 0 54.794521%;
  background-size: 100%; }

.icons.vip {
  background-position: 0 65.753425%;
  background-size: 100%; }

.icons.chooseset {
  background-position: 0 74.916388%;
  background-size: 128%; }

.icons.contract {
  background-position: 0 83.277592%;
  background-size: 128%; }

.icons.nextstep {
  background-position: 0 91.638796%;
  background-size: 128%; }

.icons.payment {
  background-position: 0 100%;
  background-size: 128%; }

/* typewriter effect
 */
.typewriter .blink_caret {
  padding-left: 2px;
  border-right: .15em solid #b5e853;
  -webkit-animation: blink-caret .75s step-end infinite;
          animation: blink-caret .75s step-end infinite; }

.flipster__button {
  margin: 0px; }
